/*GENERAL*/
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1A0B2E;}
/*NAVBAR*/
.header {
  max-width: 1200px;
  margin: auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.logo {
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.3s ease;
  color: rgb(255, 255, 255);
  
}

.logo:hover {
  transform: scale(1.05);
}

.logo-accent {
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}

.nav {
  display: none;
  gap: 32px;
  font-size: 16px;
}

.nav a {
  position: relative;
  padding: 4px 0;
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #00FF88;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.cta {
  padding: 12px 16px;
  border-radius: 100px;
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  color: rgb(255, 255, 255);
  font-weight: 600px;
  border: none;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0,255,136,0.4);
  cursor: pointer;
}

.mobile-menu {
  cursor: pointer;
  display: block;
}

/* Show desktop nav on large screens */
@media(min-width: 1024px) {
  .nav {
    display: flex;
  }
  .cta {
    display: block;
  }
  .mobile-menu {
    display: none;
  }
}

/* HERO */
.hero {
  border-top: 1px solid #444;
  text-align: center;
  padding: 80px 24px;
  background-image: url(./assets/hero-bg.png) ;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.podcast-circle {
  margin: auto;
  width: 350px;
  height: 350px;
  align-items: center;
  justify-content: center;
  position: relative;
  top:70px;
}
.badge {
  position: absolute;
  background-color: #00FF88;
  color: black;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 100px;
  font-weight: bold;
  right: 30px;
  top: 8px;
  box-shadow: 0 4px 15px rgba(0,255,136,0.4);
}
.microphone{
  position: relative;
  top: -190px;
}
.hero-title {
  font-size: 60px;
  color:white;
  font-weight: 900px;
  margin-top: 1px;
  position: relative;
  top:-60px;

}

.hero-text {
  max-width: 600px;
  margin: 8px auto 0;
  color: #d1d5db;
  position: relative;
  top:-90px;
}

.hero-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top:-90px;
}

.btn-primary, .btn-secondary {
  padding: 1px 20px;
  text-align: center;
  border-radius: 99px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

}

.btn-primary {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  color: rgb(255, 255, 255);
  display: flex;

}
.btn-primary img{
  position: relative;
  top:10px;
  right: 3px;
width: 20px;
height: 20px;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(255,255,255,0.3);
}

.btn-secondary {
  border: 1px solid #00FF88;
  background: none;
  color: #00FF88;
}
.btn-secondary img  {
  position: relative;
  right: 4px;
  top:2px;
}

.btn-secondary:hover {
  background: rgba(255,255,255,0.1);
  transform: scale(1.05);
}

/*  ABOUT  */
.about {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top:-100px;
}

.about h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  color:white;
}

.about p {
  font-size: 16px;
  max-width: 900px;
  margin: auto;
  color: #d1d5db;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  margin-top: 75px;
}

@media(min-width: 1024px) {
  .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stats h3 {
  color: #00FF88;
  font-size: 48px;
  font-weight: bold;
}
.stats p {
  font-size: 16px;
  margin: 4px 0 0;
}

/*  WHY CHOOSE not solve  */
#section-five {
  background: rgba(35, 14, 61, 1);
  padding: 120px 200px 120px 200px;
}
#section-five h1{
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 80px;
}
.card h2{
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0px;
}
.first , .second , .third , .fourr , .five p{
  color: rgba(189, 183, 183, 0.836);
  font-size: 16px;
  font-weight: 400;
}

.card{
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
 }
 .first{
  grid-row: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width:  300px;
  height: 500px;
 }
.second{
  grid-column: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width: 600px;
  height: 225px;
  position: relative;
  bottom: -30px;
}
.third{
  grid-column: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 20px;
  width: 650px;
  height: 225px;
  position: relative;
  top:-40px;
}
.fourr{
  grid-column: span 2;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  width: 500px;
  height: 273px;
  position: relative;
  top:-40px;
}
.five{
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  /* margin-right: 10px; */
  width: 400px;
  height: 273px;
  position: relative;
  top:-40px;
  left:-150px;
}

@media(min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-span-2 {
    grid-column: span 2;
  }
}
/*  EPISODES */
.episodes {
  max-width: 1200px;
margin: 0 auto;
}

.episodes h3 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.episode-grid {
  display: grid;
  gap: 30px;
}

@media(min-width: 1024px) {
  .episode-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.episode-card {
  background-color: #2A186C;
  border-radius: 16px;
  overflow: hidden;
}

.episode-info h4 {
  font-size: 24px;
  color:rgb(255, 255, 255);
  font-weight: 600;
  padding-left: 7px;
  position: relative;
  top:-19px;
}

.episode-info p{
  margin-top: 1px;
  font-size: 16px;
  color: #d1d5db;
  position:relative;
  top:-41px;
  left:5px;
}

.episode-info span {
  display: block;
  margin-top: 2px;
  color: #00FF88;
  font-size: 14px;
  position: relative;
  top:-50px;
  left:15px;
}
.episode-info span img{
  position: relative;
  left:0px;
  top:5px;
}

/*  HOST  */
.host {
  padding: 80px 24px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.host h3{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 48px;
  text-align: center;
  color:rgb(255, 255, 255);
}

.host-card {
  background-color: #2A186C;
  border-radius: 16px;
  display: flex;
  padding: 24px;
  align-items: center;
}
.host-info{
  display: flex;
  gap: 1px;
  flex-direction: column;
}
.host-info h4 {
  color:rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  position: relative;
  left:25px;
  top:-30px;
}

.host-info p{
  font-size: 13px;
  margin-top: 8px;
  color: #d1d5db;
  position: relative;
  left:25px;
  top:-60px
}
.host-icon{
  position: relative;
  left:-700px;
}
.host-icon .icon {
  padding: 10px;
  border: solid 1px #533C72;
  border-radius: 50%;
  display: inline-flex; 
  gap:10px;
  margin-top: 110px; 
}

.host-icon .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#footer{
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  width: 1600px;
}
#footer h1{
  color: white;
  font-size: 70px;
  font-weight: 400;
  padding: 80px 0px 20px 0px;
  position: relative;
  top:-30px;
}
#footer .color{
  width: 219px;
  height: 32px;
  background: linear-gradient(to right, #ff4d94, #8e2de2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer .footer-ul{
  display: flex;
  gap:40px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  left: 500px;
  top:-125px;
}
#footer .footer-ul li a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
#footer p{
  color: white;
  font-size: 16px;
  font-weight: 200;
  position: relative;
  top:-90px;
}
/* NIMATIONS  */
@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px);}
  100% { opacity: 1; transform: translateY(0);}
}
